h2 {
    text-align: center;
    margin: 1em 0;
}

li {
    list-style: none;
}

.knowWrap {
    width: 80%;
    margin: 0 auto;
}

.knowBorder {
    width: auto;
    border-bottom: 1px solid #ad939156; 
    padding: 0.5em 0;
}

.knowDetailTitle {
    padding: 2em 0 0.5em 0;
    text-align: left;
    font-weight: bolder;
    font-size: 2em;
}

.knowDetailDate {
    color: gray;
    font-size: 12px;
    margin: 0.5em 0 2em 0;
}

.knowDetailImage {
    margin: 0.5em 0 2em 0;
    width: 30em;
}
.knowDetailContent{
	white-space : pre-wrap;
}