h2 {
    text-align: center;
    margin: 1em 0;
  }
  .knowWrap {
    width: 80%;
    margin: 0 auto;
  }
  /* í‘œ */
  .tableHead {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #ad939156;
    padding: 0.5em 0;
  
    /* margin-bottom: 1em 0; */
  }
  .knowTableWrap {
    margin: 1em 0;
    /* padding: 1em 0; */
    align-items: center;
  }
  .knowfirstPage {
    height: 80vh;
  }
  
  .knowTableWrap > ul > li {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    align-items: center;
  
    padding: 1em 0;
    border-bottom: 1px solid #ad939156;
  }
  .knowNo {
    width: 5%;
    text-align: center;
  }
  .knowTitle {
    width: 60%;
    text-align: center;
  }
  
  .knowDate {
    width: 15%;
    text-align: center;
  }
  
  .updateOrDelete {
    width: 20%;
    text-align: center;
  }
  .updateList,
  .deleteList {
    width: 15%;
    height: 2em;
    text-decoration: none;
    border: 1px solid #ad939156;
    padding: 0.1em 0.6em;
    margin-left: 1em;
  }
  