.formWrap {
  max-width: fit-content;
  /* height: 100em; */
  padding: 3em 0;
  justify-content: center;
}
.duplicateCheckId {
  background-color: #8d3232;
  color: #fffdf5;
  border: 1px solid #463635;
  border-radius: 0.5em;
  width: 5em;
  height: 2em;
}
.dateInput {
  width: 6em;
  margin-right: 1em;
}

.form {
  height: fit-content;
  width: 30em;
}
form > input {
  width: 14.5em;
  height: 2em;
  margin-bottom: 1em;
}
.formWrap input {
  margin-top: 1em;
  width: 26em;
  height: 2.5em;
}
select {
  width: 26.2em;
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.formLabels {
  display: block;
  font-weight: 700;
  color: #463635;
}
.submitJoinBtn {
  width: 45em;
  height: 2em;
  display: block;
  border-radius: 0.5em;
  background-color: #463635;
  color: #fffdf5;
  margin-top: 2em;
  cursor: pointer;
}
