.swiper-wrapper {
  margin-top: 0;
}

form {
  height: 100vh;
}
.links {
  text-decoration: none;
}
.recipe_name,
.recipe_name::after {
  color: #463635;
  font-weight: 700;
}
.user_name,
.user_name::after {
  color: #463635;
}
.recipe_name:hover {
  color: #8d3232;
}
.slide {
  height: 80vh;
}
