h2 {
  text-align: center;
  margin: 1em 0;
}

.hr{
  margin: auto;
  width: 60%;
}

.eventCenter{
  text-align: center;
}
.centerRight{
  margin-right: 56%;
}
.disInline{
  display: inline;
}
.disBlock{
  display: block;
}
.eventImg{
  width: 70em;
  height: 80em;
}
.eventContent{
	white-space : pre-wrap;
  float: left;
  text-align: left;
}