.left{
    margin-left: 20%;
    margin-top: 2%;
}
.width{
    width: 60%;
}
/*
.width2{
    width: 30%;
}
*/

.text{
	width: 110%;
    outline: invert;
    border: 0;
    background-color: rgb(222, 222, 224);
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.date{
	width: 30%;
    outline: invert;
    border: 0;
    background-color: rgb(236, 236, 238);
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10px;
}

.left2{
    margin-left: 39%;
}