.CRcard{
    display: inline-flex;
    width: 15em;
    height: 9em;
    padding-bottom: 0.5em;
    object-fit: cover;
}

.Rcard{
    display: inline-flex;
    width: 15em;
    height: 9em;
    padding-bottom: 0.5em;
    object-fit: cover;
}