/*css 초기화*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "mainFont";
}

/* 공통css 빼주기 */
@font-face {
  font-family: "mainFont";
  src: url("./fonts/EF_Diary.ttf");
}
.hoverEffect:hover {
  cursor: pointer;
  color: #cf702c;
  stroke: #cf702c;
}
